# `pd.DataFrame.groupby()`

Este método te permite **dividir** tu `DataFrame` en "grupos" basados en los valores de **una** o **varias** categorías y luego **aplicar operaciones** de **agregación** o **transformación** a cada grupo de manera **independiente**.

In [23]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/college_data_sample.csv')

Esta es la manera de llamar el método `groupby`, nos da un objeto `DataFrameGroupBy`.

In [13]:
df.groupby('Country')

Podemos iterar en un objeto `DataFrameGroupBy`, cada elemento nos da una tupla con la categoría y el ``DataFrame`` correspondiente a esa categoría.

In [12]:
countries = df.groupby('Country')

print(len(countries))

for group in countries:
    print(group)

10
('Australia',     College ID    Country  Total Students   Male  Female       CGPA  \
17   College 8  Australia           27917   2785   13350  10.000000
28  College 37  Australia            3345   8044   -4699   8.207852
44  College 79  Australia           28102   4869   12347   8.398590
47  College 73  Australia           10228   8965    1263   9.707280
60  College 11  Australia           29586  12323    6254   9.907516
88   College 9  Australia            7509  14603   -7094   6.732975

    Annual Family Income            Branch      Sports  \
17               3826222  Computer Science   Badminton
28               1075704         Economics    Swimming
44               3797180           Physics  Volleyball
47               3594559       Mathematics    Swimming
60               3855033           Physics  Basketball
88                245949           Physics  Basketball

    Research Papers Published  Placement Rate  Faculty Count
17                         32           64.81            524
28                          7           62.68            466
44                         14           81.02            622
47                         33          100.00            599
60                         21           80.67            763
88                         47           78.91            343  )
('Canada',     College ID Country  Total Students   Male  Female      CGPA  \
29  College 98  Canada            5006  11835   -6829  8.420072
50  College 67  Canada           19152   6957    6363  8.003795
53  College 46  Canada           23445   2602    3320  7.170018
57  College 72  Canada           24226   1312   11610  9.839795
61  College 58  Canada           11999   4544    7455  7.660861
68  College 68  Canada           11048  11884    -836  7.384987
72  College 11  Canada            3169  14595  -11426  6.678129
75  College 13  Canada            1983   9934   -7951  9.941536

    Annual Family Income                   Branch      Sports  \
29               2000144              Mathematics    Football
50               1047590                Economics   Badminton
53               1000036                  Physics   Badminton
57               4999590              Mathematics   Badminton
61               2041722   Mechanical Engineering  Basketball
68               3709974  Business Administration  Volleyball
72               1276259              Mathematics      Tennis
75               1223072   Mechanical Engineering   Badminton

    Research Papers Published  Placement Rate  Faculty Count
29                          2           61.65            514
50                         26           68.09            502
53                         17           79.94            354
57                         10           93.01            417
61                         49          100.00            398
68                         16           72.02            176
72                         24           77.76            381
75                         13           92.01            505  )
('China',     College ID Country  Total Students   Male  Female       CGPA  \
2   College 51   China           28134  14240    1160   9.934745
9   College 95   China           11470  10377    1093   9.566726
10  College 11   China           20070  10631    7790   9.142278
18  College 45   China           14561   7339    7222   7.657462
26  College 76   China            9245   2223    7022  10.000000
32   College 2   China           26459  11014    7149   9.742536
41  College 81   China           29072   9826    7907   9.384237
48   College 4   China            7394    550    6844   8.069655
62  College 42   China            3155  13244  -10089  10.000000
70  College 41   China           10878  10780      98   9.913937
80  College 44   China            7830  11102   -3272   9.398483

    Annual Family Income                  Branch      Sports  \
2                3629489    Chemical Engineering       Chess
9                4093453    Chemical Engineering     Cricket
10               2704557               Economics       Chess
18                634924       Civil Engineering  Basketball
26               4258730  Electrical Engineering  Basketball
32               4525071                 Physics  Volleyball
41               3148473           Biotechnology   Athletics
48               2259310             Mathematics   Badminton
62               4190987           Biotechnology   Athletics
70               1127875           Biotechnology     Cricket
80               4456966        Computer Science  Basketball

    Research Papers Published  Placement Rate  Faculty Count
2                          23          100.00            390
9                          40           81.32            222
10                          3           66.63            400
18                         24           81.30            567
26                          0           70.12            387
32                         29           73.67            732
41                          8           61.50            753
48                         12           91.22            414
62                         22           75.38            307
70                         42           91.87            320
80                         48           96.58            208  )
('India',     College ID Country  Total Students   Male  Female       CGPA  \
15  College 97   India           14675   1264   13407   7.155192
46  College 47   India            8447   7137    1310   8.841621
90  College 54   India           21982   1614    9564   9.597759
93   College 2   India           22283  10744    5363  10.000000

    Annual Family Income                  Branch    Sports  \
15                330384             Mathematics    Tennis
46               1803242  Electrical Engineering  Football
90               2255518                 Physics  Swimming
93               3783811             Mathematics     Chess

    Research Papers Published  Placement Rate  Faculty Count
15                         46           83.83            442
46                         16           65.34            365
90                         27           87.22            632
93                          6           72.44            715  )
('Japan',     College ID Country  Total Students   Male  Female       CGPA  \
0   College 64   Japan            7137   8168   -1031   8.683038
4   College 82   Japan            4275   3489     786   9.869996
24  College 57   Japan            6693   5679     896   7.922943
33   College 2   Japan           28859   9515    7991   9.106806
45  College 53   Japan           12360   4750    6429   7.541724
49  College 87   Japan            8603   9154    -551   8.058666
52  College 62   Japan            8278   7192    1086   9.087430
54  College 64   Japan            3762   8078   -4316   9.636815
66  College 99   Japan            1987   4757   -2770   8.717470
67  College 86   Japan           22297   7568    7631   9.698369
76  College 11   Japan           29489   5739     615   5.805870
81  College 32   Japan            4413    762    2180   9.280969
83  College 53   Japan           21540   6470    8162  10.000000
84  College 55   Japan            8003  11154   -3151   9.596732
89  College 63   Japan           14940   6026    6527   8.479525
94  College 26   Japan           13806   7233    6573   8.849529

    Annual Family Income                  Branch      Sports  \
0                 586076       Civil Engineering  Volleyball
4                4219993               Economics  Basketball
24               3565887        Computer Science    Football
33               2193611               Economics     Cricket
45                983448  Mechanical Engineering  Basketball
49               4537332             Mathematics   Athletics
52               3214859               Economics      Tennis
54               4653630  Mechanical Engineering   Badminton
66               3494940    Chemical Engineering    Football
67               4256738             Mathematics    Football
76                431740  Mechanical Engineering       Chess
81               2941937                 Physics       Chess
83               4601322                 Physics  Basketball
84               3273464    Chemical Engineering     Cricket
89               3059050           Biotechnology       Chess
94               1359059       Civil Engineering     Cricket

    Research Papers Published  Placement Rate  Faculty Count
0                          41           83.05            163
4                           2           99.01            166
24                         11           68.43            475
33                         43           73.58            669
45                         44          100.00            525
49                         24           67.68            332
52                         39           87.82            151
54                          8           97.31            445
66                         22           73.75            153
67                         26           84.83            538
76                         19           92.20            755
81                         12           93.64            459
83                         27           86.05            382
84                         20          100.00            176
89                         37           84.16            533
94                         33          100.00            517  )
('Singapore',     College ID    Country  Total Students   Male  Female       CGPA  \
8   College 41  Singapore           19808   1579    6453  10.000000
23  College 90  Singapore           15059  11414    2113   8.398958
35  College 24  Singapore            7506   3033    4473   9.542943
36  College 26  Singapore           29848  11211   11194   7.043492
43   College 5  Singapore           24865  10771   11982   7.592242
51   College 5  Singapore            6125   6839    -714   9.822689
73  College 15  Singapore            8858   4132    4726  10.000000
79   College 9  Singapore           11482   4547    5594   7.443715
91  College 80  Singapore           15490  11365    4125   8.286627
92  College 25  Singapore           27999   4523   14534   9.750709
98  College 81  Singapore            3647   7435   -3788  10.000000

    Annual Family Income                   Branch      Sports  \
8                2995713        Civil Engineering       Chess
23               1277916            Biotechnology   Badminton
35               2585885                Economics   Athletics
36               1826983   Mechanical Engineering    Swimming
43               1444483   Mechanical Engineering   Badminton
51               3145378              Mathematics    Football
73               2425067              Mathematics  Volleyball
79               1947430              Mathematics   Badminton
91               1693255         Computer Science    Football
92                561419  Business Administration    Swimming
98               4106069   Electrical Engineering      Tennis

    Research Papers Published  Placement Rate  Faculty Count
8                          36           90.02            650
23                         15           98.49            566
35                         42           97.99            412
36                         29           70.55            593
43                         19           64.03            440
51                         33           83.96            406
73                         10           78.33            169
79                         11          100.00            194
91                         13           94.48            584
92                         34           68.01            596
98                         35           70.26            376  )
('South Africa',      College ID       Country  Total Students   Male  Female       CGPA  \
7    College 69  South Africa           16353   7417     723   9.793560
12  College 100  South Africa           22664    816    2331   8.109352
14   College 22  South Africa            4843   6283   -1440   7.995083
21   College 89  South Africa            5882   8179   -2297   7.614519
31   College 59  South Africa           21355   4453    8392   7.434409
40   College 88  South Africa           12499  13723   -1224   8.716086
42   College 56  South Africa           29009   7952    4675   8.777411
55   College 97  South Africa           13516  14957   -1441   8.186094
58   College 60  South Africa            2642   9185   -6543   9.478582
69   College 22  South Africa           11188   8411    2777   6.461251
71   College 44  South Africa           14428  10436    3992  10.000000

    Annual Family Income                  Branch      Sports  \
7                3447120               Economics  Volleyball
12                518704    Chemical Engineering     Cricket
14               2770166           Biotechnology    Football
21               1989038  Mechanical Engineering      Tennis
31               1108818    Chemical Engineering  Volleyball
40               3292172  Mechanical Engineering     Cricket
42               2734821             Mathematics  Basketball
55               1652188       Civil Engineering   Badminton
58               3117165       Civil Engineering   Athletics
69               1322501        Computer Science   Athletics
71               3219512       Civil Engineering    Football

    Research Papers Published  Placement Rate  Faculty Count
7                          45           76.50            453
12                         31           98.84            440
14                          6           66.01            238
21                         42           86.33            191
31                         18           87.57            598
40                         34           91.14            461
42                          7           61.09            724
55                         32           65.72            596
58                         36           98.92            104
69                         11           89.29            537
71                         49           64.97            495  )
('Switzerland',     College ID      Country  Total Students   Male  Female       CGPA  \
1   College 70  Switzerland           19738  11668    4679   8.169358
11  College 86  Switzerland           28680   7980    5406  10.000000
13  College 33  Switzerland            8520   4784    3736   8.797783
16  College 21  Switzerland           10532   3771    1176   8.439920
19  College 32  Switzerland           20103   1627   12977   6.466824
20  College 45  Switzerland           11929  10075     687   6.476563
22  College 26  Switzerland           19186   9176    7278   8.021593
25  College 30  Switzerland           21378  10306    9902   8.240856
27  College 75  Switzerland            2326   4530   -2204   8.458713
34  College 23  Switzerland           27627  13574   14053   5.579874
38  College 75  Switzerland           15317   9935    5382   7.531303
63  College 93  Switzerland            2246   4942   -2696   8.796918
64  College 58  Switzerland            3963   8661   -4698   6.726832
78  College 54  Switzerland           14520   1090    5530   7.475559
85  College 14  Switzerland            4303    912    1701   7.288087
87  College 55  Switzerland            9529   6539    2990  10.000000
95  College 83  Switzerland           27809   7860    9337   7.741322

    Annual Family Income                   Branch      Sports  \
1                2858716            Biotechnology  Basketball
11               4797229            Biotechnology       Chess
13               1575566              Mathematics   Athletics
16               1679839   Electrical Engineering    Football
19                593649         Computer Science   Athletics
20               1733126   Mechanical Engineering    Football
22                403185                Economics     Cricket
25               2661711        Civil Engineering    Football
27               1377427  Business Administration     Cricket
34                459749                Economics     Cricket
38               1662607  Business Administration   Badminton
63               1593836  Business Administration  Basketball
64               2313664        Civil Engineering  Basketball
78               1451118     Chemical Engineering    Football
85               2456174   Mechanical Engineering       Chess
87               4295414                  Physics     Cricket
95               2362645            Biotechnology    Swimming

    Research Papers Published  Placement Rate  Faculty Count
1                          38          100.00            394
11                         49           91.97            530
13                         19           74.90            204
16                         46          100.00            225
19                         32          100.00            517
20                         36           93.30            257
22                         31          100.00            471
25                         26           67.21            690
27                         31           92.95            111
34                          9           80.99            659
38                         24           70.96            411
63                         48           73.12            491
64                         33           88.27            446
78                         28           75.09            470
85                         29           79.00            398
87                         34          100.00            573
95                         44           95.86            768  )
('UK',     College ID Country  Total Students   Male  Female       CGPA  \
3   College 99      UK           28349   5507   12481   8.683910
5   College 99      UK            2130   5787   -3657   9.781864
30  College 26      UK           17548   3134   13818   8.469169
39  College 72      UK           15462   3268    3662   6.404293
56   College 5      UK           27751  12035    6971   8.876613
86  College 96      UK            4251   4626    -375  10.000000
96  College 27      UK            7601   9797   -2196   8.483360
97  College 35      UK           19098  10585    7533   9.482940

    Annual Family Income                   Branch      Sports  \
3                3667820            Biotechnology       Chess
5                1303728                  Physics    Swimming
30               3178339         Computer Science    Football
39                268586   Electrical Engineering      Tennis
56               3493227                Economics  Basketball
86               3279629  Business Administration   Athletics
96               3186721              Mathematics     Cricket
97               3825880              Mathematics    Swimming

    Research Papers Published  Placement Rate  Faculty Count
3                          11           66.86            439
5                          16           99.54            186
30                          1           62.46            293
39                         12           99.24            292
56                         13           85.60            356
86                         46           98.40            201
96                         39          100.00            377
97                         38          100.00            435  )
('USA',     College ID Country  Total Students   Male  Female      CGPA  \
6   College 83     USA           24594   8565   14491  8.910399
37  College 70     USA           14696    912   13776  9.638189
59  College 69     USA           24509   6346    4146  9.063460
65  College 65     USA           14993   2717   12276  8.568245
74  College 37     USA           14055   1348   10487  7.052877
77  College 42     USA            8988  10912   -1924  7.937407
82  College 59     USA           14502  10798    3704  9.245600
99  College 22     USA           16196   7135    9061  9.156007

    Annual Family Income                   Branch      Sports  \

Si le pasamos más de una columna al `groupby`, cada elemento en el iterable resultante nos da lo correspondiente a cada combinación posible entre las columnas que le pasemos.

In [16]:
groups = df.groupby(['Country', 'Sports'])

print(len(groups))

for group in groups:
    print(group[0])

62
('Australia', 'Badminton')
('Australia', 'Basketball')
('Australia', 'Swimming')
('Australia', 'Volleyball')
('Canada', 'Badminton')
('Canada', 'Basketball')
('Canada', 'Football')
('Canada', 'Tennis')
('Canada', 'Volleyball')
('China', 'Athletics')
('China', 'Badminton')
('China', 'Basketball')
('China', 'Chess')
('China', 'Cricket')
('China', 'Volleyball')
('India', 'Chess')
('India', 'Football')
('India', 'Swimming')
('India', 'Tennis')
('Japan', 'Athletics')
('Japan', 'Badminton')
('Japan', 'Basketball')
('Japan', 'Chess')
('Japan', 'Cricket')
('Japan', 'Football')
('Japan', 'Tennis')
('Japan', 'Volleyball')
('Singapore', 'Athletics')
('Singapore', 'Badminton')
('Singapore', 'Chess')
('Singapore', 'Football')
('Singapore', 'Swimming')
('Singapore', 'Tennis')
('Singapore', 'Volleyball')
('South Africa', 'Athletics')
('South Africa', 'Badminton')
('South Africa', 'Basketball')
('South Africa', 'Cricket')
('South Africa', 'Football')
('South Africa', 'Tennis')
('South Africa', 'Volleyball')
('Switzerland', 'Athletics')
('Switzerland', 'Badminton')
('Switzerland', 'Basketball')
('Switzerland', 'Chess')
('Switzerland', 'Cricket')
('Switzerland', 'Football')
('Switzerland', 'Swimming')
('UK', 'Athletics')
('UK', 'Basketball')
('UK', 'Chess')
('UK', 'Cricket')
('UK', 'Football')
('UK', 'Swimming')
('UK', 'Tennis')
('USA', 'Athletics')
('USA', 'Badminton')
('USA', 'Chess')
('USA', 'Cricket')
('USA', 'Football')
('USA', 'Swimming')
('USA', 'Volleyball')

Se pueden hacer las operaciones usuales por grupo de la siguiente manera:

In [19]:
countries = df.groupby('Country')

countries['Male'].mean()

Country
Australia       8598.166667
Canada          7957.875000
China           9211.454545
India           5189.750000
Japan           6608.375000
Singapore       6986.272727
South Africa    8346.545455
Switzerland     6907.647059
UK              6842.375000
USA             6091.625000
Name: Male, dtype: float64

In [20]:
countries['Female'].mean()

Country
Australia       3570.166667
Canada           213.250000
China           2993.090909
India           7411.000000
Japan           2316.062500
Singapore       5517.454545
South Africa     904.090909
Switzerland     4425.647059
UK              4779.625000
USA             8252.125000
Name: Female, dtype: float64

In [22]:
countries['CGPA'].median()

Country
Australia       9.052935
Canada          7.832328
China           9.566726
India           9.219690
Japan           8.968480
Singapore       9.542943
South Africa    8.186094
Switzerland     8.021593
UK              8.780262
USA             8.986929
Name: CGPA, dtype: float64

De igual manera podemos aplicar el método `.agg()` si queremos aplicar una o más funciones.

In [25]:
countries['CGPA'].agg(['min', 'max'])

                   min        max
Country
Australia     6.732975  10.000000
Canada        6.678129   9.941536
China         7.657462  10.000000
India         7.155192  10.000000
Japan         5.805870  10.000000
Singapore     7.043492  10.000000
South Africa  6.461251  10.000000
Switzerland   5.579874  10.000000
UK            6.404293  10.000000
USA           7.052877   9.638189

In [28]:
groups = df.groupby(['Country', 'Branch'])

groups['CGPA'].agg(['count', 'min', 'mean', 'max'])

                                   count        min       mean        max
Country   Branch
Australia Computer Science             1  10.000000  10.000000  10.000000
          Economics                    1   8.207852   8.207852   8.207852
          Mathematics                  1   9.707280   9.707280   9.707280
          Physics                      3   6.732975   8.346360   9.907516
Canada    Business Administration      1   7.384987   7.384987   7.384987
...                                  ...        ...        ...        ...
USA       Chemical Engineering         1   9.245600   9.245600   9.245600
          Civil Engineering            1   7.052877   7.052877   7.052877
          Computer Science             2   9.063460   9.350824   9.638189
          Mechanical Engineering       1   8.910399   8.910399   8.910399
          Physics                      1   7.937407   7.937407   7.937407

[66 rows x 4 columns]

Aplicar nuestras **propias funciones** y expresiones `lambda`.

In [31]:
countries = df.groupby('Country')

def n_more_than_mean(series):
    return len(series[series > np.mean(series)])

countries[['CGPA', 'Research Papers Published']].agg([n_more_than_mean, lambda x: len(x)])

                         CGPA            Research Papers Published
             n_more_than_mean <lambda_0>          n_more_than_mean <lambda_0>
Country
Australia                   3          6                         3          6
Canada                      3          8                         3          8
China                       8         11                         6         11
India                       2          4                         2          4
Japan                       9         16                         8         16
Singapore                   6         11                         6         11
South Africa                5         11                         7         11
Switzerland                 9         17                         8         17
UK                          4          8                         3          8
USA                         5          8                         4          8

Si queremos renombrar las columnas de la tabla resultante, podemos utilizar diccionarios.

In [34]:
countries[['CGPA', 'Research Papers Published']].agg(
    [("count", n_more_than_mean), ("len", lambda x: len(x))]
)

              CGPA     Research Papers Published
             count len                     count len
Country
Australia        3   6                         3   6
Canada           3   8                         3   8
China            8  11                         6  11
India            2   4                         2   4
Japan            9  16                         8  16
Singapore        6  11                         6  11
South Africa     5  11                         7  11
Switzerland      9  17                         8  17
UK               4   8                         3   8
USA              5   8                         4   8

## **Método `.transform()`:** 

Este método nos ayuda a transformar una o varias columnas aplicando una función, así casi como `.apply()` pero aplicándolo por grupo independientemente.

* El input y output size deben ser los mismos en las funciones que le queremos aplicar.

In [39]:
def center_scale(series):
    return (series - np.mean(series)) / np.std(series, axis=0)

In [40]:
countries = df.groupby('Country')

countries[['CGPA', 'Research Papers Published']].transform(center_scale)

        CGPA  Research Papers Published
0  -0.085044                   1.215920
1   0.237122                   0.514959
2   0.780163                   0.011854
3  -0.084565                  -0.713774
4   1.062629                  -1.843492
..       ...                        ...
95 -0.132544                   1.105136
96 -0.275424                   1.103106
97  0.675856                   1.038217
98  0.993610                   0.879241
99  0.588670                   0.520413

[100 rows x 2 columns]

## **El método `.filter()` de un objeto `groupby`:** 

Te permite filtrar grupos enteros basándote en una función que recibe cada grupo y te devuelve `True` o `False`. Si la función devuelve `True` para un grupo, ese grupo se queda en el resultado; si devuelve `False`, se descarta.

**¿Por qué es útil?**

* **Limpieza de datos:** Ayuda a eliminar datos poco relevantes o insuficientes para tu análisis.

* **Flexibilidad:** Puedes aplicar cualquier condición compleja que se necesite, siempre y cuando la función `True` o `False`.

In [59]:
# Podemos filtrar los grupos que tengan un GCPA mayor a 8.5
def check_gcpa(dataframe):
    return dataframe['CGPA'].mean() > 8.5

groups = df.groupby(['Country', 'Branch'])

df_filtered = groups.filter(check_gcpa)

# Le quitamos todos los grupos cuyo gcpa promedio sea menor a 8.5.
len(groups), len(df_filtered.groupby(['Country', 'Branch']))

(66, 37)

In [63]:
# Podemos encontrar el GCPA promedio por Country de los países que tienen más de 5 observaciones

countries = df.groupby(['Country'])

df_filtered = countries.filter(lambda df: df['CGPA'].count() > 10)

fcountries = df_filtered.groupby('Country')

print(len(countries))
print(len(fcountries))

fcountries['CGPA'].agg(['mean', 'std'])

10
5

                  mean       std
Country
China         9.346369  0.790980
Japan         8.770993  1.068149
Singapore     8.898307  1.162897
South Africa  8.415122  1.072729
Switzerland   7.894794  1.193534